<div class="container">
  <%= render 'tabs' %>


<% @articles.each do |article| %>
  <%= render 'article', article: article %>
<% end %>
  <%= link_to new_article_path do %>
    <div class="add_card">
      <p>+ Add new card</p>
    </div>
  <% end %>
</div>
