<div class="article">
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_content">
    <%= @article.content %>
  <div class="article_detail">
    <%= image_tag 'Oval.png' %>
  </div>
  </div>
</div>