@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';
@import 'todo';
@import 'buttons';
@import 'form';
@import 'flash';
@import 'common';

html {
  // word-spacing: 1px;
  // -ms-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  // box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  // background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.new_title {
  // position: absolute;
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px/2);

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */
  color: #000000;
}
  a{
  text-decoration: none;
  color: $text-base-color;
}

.add_card {
  margin-top: 24px;
  // position: absolute;
  width: 362px;
  height: 160px;
  left: 30px;
  top: 917px;

  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  p {
    padding: 50px;
    text-align: center;
    
  }
}

// html {
//   word-spacing: 1px;
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   box-sizing: border-box;
//   height: 100%;
// }

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
//   margin: 0;
// }

// body {
//   height: 100%;
//   background-color: $base-bg-color;
//   font-size: 1em;
//   color: $text-base-color;
// }

// .container {
//   padding: 16px 16px;
//   width: 100%;
// }