.btn-primary {
  margin-top: 849px;
  margin-left: 30px;
  width: 90%;
  height: 40px;
  left: 30px;
  top: 889px;
  background: #F8BD1C;
  border-radius: 4px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
  border: none;
}
