.card {
  width: 362px;
  height: 185px;
  left: 30px;
  top: 133px;
  background: #F4F4F4;
  border-radius: 10px;
}

.card_image {
  height: 180px;
  position: relative;
  overflow: hidden;
}

.card_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
