@import './variables';

.dropbtn {
  border: none;
}

.dropdown {
  // position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {

  .title {
    // position: absolute;
    height: 36px;
    left: 0%;
    right: 49.73%;
    top: calc(50% - 36px/2);
  
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
  
  
    color: #000000;
  
  
  }
  
  .text {
    margin-left: 26px;
    margin-bottom: 30px;
    // position: absolute;
    border: none;
    width: 90%;
    height: 40px;
    left: 26px;
    top: 190px;
  
    background: #F4F4F4;
    border-radius: 10px;
  }
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 100%;
  // position: absolute;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 10px;
}