input {
  margin-left: 26px;
  &.text {
    border: none;
    // position: absolute;
    width: 362px;
    height: 40px;
    left: 26px;
    top: 190px;
    margin-bottom: 33px;

    background: #F4F4F4;
    border-radius: 10px;
  }
}
  textarea {
    margin-left: 26px;
    &.content {
      border: none;
      // position: absolute;
      width: 362px;
      height: 203px;
      left: 26px;
      top: 296px;
  
      background: #F4F4F4;
      border-radius: 10px;

      margin-bottom: 350px;
    }
  }

label {
  padding-bottom: 8px;
  // position: absolute;
  width: 49px;
  height: 25px;
  left: 26px;
  top: 157px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}

