@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
  // background: #F2F2F2;
  display: flex;

  &_logos {
    min-width: 0;
    display: flex;

    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
      margin: ($avatar-size - $back-icon-size) / 2 8px 0;
      background-color:black
      ;
    }
  }

  
  &_title {
    // position: absolute;
    width: 56px;
    height: 25px;
    left: 30px;
    top: 17px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
  }

  &_line {
    position: absolute;
    width: 1920px;
    height: 1px;
    left: 0px;
    top: 58px;
    
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
      
}
&_avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 10px;

  background: url(Image.png);
  }
}