.tabs_item {

  // position: absolute;
  height: 36px;
  left: 0%;
  right: -0.96%;
  top: calc(50% - 36px/2);
  margin: 17px 0;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */
  
  
  color: #000000;
}