@import './variables';

.article {
  .article_title {
    // position: absolute;
    height: 36px;
    left: 0%;
    right: 0%;
    top: calc(50% - 36px/2);

    margin-bottom: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;  
  }

    img {
      cursor: pointer;
      // width: $avatar-size;
      // height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }

    &_detail_actions {
      right: 0px;
      position: absolute;
    }

    .article_content {
      // position: absolute;
      // width: 362px;
      // height: 217px;
      // left: 26px;
      // top: 364px;
     
      background: #F4F4F4;
      border-radius: 10px;
    }

    h2 {
      // position: absolute;
      height: 36px;
      left: 0%;
      right: 0%;
      top: calc(50% - 36px/2);

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 36px;
      /* identical to box height */


      color: #000000;
    }

    &_comment {
      // position: absolute;
      width: 298px;
      height: 57px;
      left: 86px;
      top: 677px;

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      color: #000000;

    }
}
