@import './variables';
  $container-padding: 16px;
  $avatar-size: 40px;
  $header-padding-y: 16px;
  $back-icon-size: 16px;

.article {
  .article_title {
    // position: absolute;
    height: 36px;
    left: 0%;
    right: 0%;
    top: calc(50% - 36px/2);
    padding: $container-padding $container-padding;
    margin-bottom: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;  
  }

  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: $container-padding * -1 $container-padding * -1 16px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
    
    &_detail {

      img{

        // width: $avatar-size;
        // height: $avatar-size;
        border-radius: 100%;
        // position: absolute;
        width: 40px;
        height: 40px;
        right: 40px;
        top: 10px;
      }
    }
    
    &_detail_actions {
      right: 0px;
      position: absolute;
    }

    .article_content {
      // position: absolute;
      // width: 362px;
      // height: 217px;
      // left: 26px;
      // top: 364px;
     
      background: #F4F4F4;
      border-radius: 10px;
    }

    h2 {
      // position: absolute;
      height: 36px;
      left: 0%;
      right: 0%;
      top: calc(50% - 36px/2);

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 36px;
      /* identical to box height */


      color: #000000;
    }

    &_comment {
      // position: absolute;
      width: 298px;
      height: 57px;
      left: 86px;
      top: 677px;

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      color: #000000;

    }
}
